<div class="main">
	<div class="left-box">
		<h1 class="logo-title">Putinto</h1>
		<h2 class="sub-title">わからないを、わかる化しよう</h2>
		<p class="logo-caption">Putintoでは普段<br>
		少しずつ自分の言葉で質問をできるようにして<br>
		理解を深めていくサービスです。</p>
	</div>
	<div class="right-box">
		<div>
			<a href="/member/signup" class="main-button">メンバーとして登録する</a>
			<a href="/mentor/signup" class="main-button">メンターとして登録する</a>
		</div>
		<div class="line"></div>
		<div>
			<a href="/member/signin" class="sub-button">メンバーとしてログインする</a>
			<a href="/mentor/signin" class="sub-button">メンターとしてログインする</a>
		</div>
	</div>
</div>