<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Putinto</title>
  <% if request.path_info == "/" %>
    <link rel="stylesheet" href="/assets/css/index.css">
  <% end %>

  <% if request.path_info == "/member/signup" %>
    <link rel="stylesheet" href="/assets/css/member_sign_up.css">
  <% end %>
  <% if request.path_info == "/mentor/signup" %>
    <link rel="stylesheet" href="/assets/css/mentor_sign_up.css">
  <% end %>

  <% if request.path_info == "/member/signin" %>
    <link rel="stylesheet" href="/assets/css/member_sign_in.css">
  <% end %>
  <% if request.path_info == "/mentor/signin" %>
    <link rel="stylesheet" href="/assets/css/mentor_sign_in.css">
  <% end %>

  <% if request.path_info == "/member" %>
    <link rel="stylesheet" href="/assets/css/nav.css">
    <link rel="stylesheet" href="/assets/css/member_index.css">
  <% end %>

  <% if request.path_info[0..16] == "/member/question/" %>
    <link rel="stylesheet" href="/assets/css/nav.css">
    <link rel="stylesheet" href="/assets/css/member_question_detail.css">
  <% end %>

  <% if request.path_info == "/member/new" %>
    <link rel="stylesheet" href="/assets/css/nav.css">
    <link rel="stylesheet" href="/assets/css/member_new_question.css">
  <% end %>

  <% if request.path_info[0..7] == "/member/" %>
    <link rel="stylesheet" href="/assets/css/nav.css">
    <link rel="stylesheet" href="/assets/css/member_profile.css">
  <% end %>

  <% if request.path_info == "/mentor" %>
    <link rel="stylesheet" href="/assets/css/nav.css">
    <link rel="stylesheet" href="/assets/css/mentor_index.css">
  <% end %>

  <% if request.path_info[0..16] == "/mentor/solution/" %>
    <link rel="stylesheet" href="/assets/css/nav.css">
    <link rel="stylesheet" href="/assets/css/mentor_solution_detail.css">
  <% end %>

  <% if request.path_info[0..7] == "/mentor/" %>
    <link rel="stylesheet" href="/assets/css/nav.css">
    <link rel="stylesheet" href="/assets/css/mentor_profile.css">
  <% end %>



  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&display=swap" rel="stylesheet">
</head>
<body>
  <%= yield %>
</body>
</html>