<nav>
	<div class="inner-nav">
		<a class="logo" href="/member">
			Putinto
		</a>
		<div class="right">
			<a href="/member/<%= Member.find(session[:member]).id %>" class="nav-text"><%= Member.find(session[:member]).name %></a>
			<a href="/member/signout" class="nav-text">Signout</a>
		</div>
	</div>
</nav>
<div class="profile-card">
	<img src="<%= Member.find(session[:member]).image %>" alt="" class="profile-image">
	<h1 class="profile-name"><%= Member.find(session[:member]).name %></h1>
	</div>