<div class="container" id="signin">
  <div class="content sign">
    <h2 class="copy">メンターSIGNUP</h2>
    <h1 class="logo-wrapper"><img src=""></h1>
    <form class="sign-form" action="/mentor/signup" method="post" enctype="multipart/form-data">
      <input type="text" name="name" placeholder="name(英数字)"><br>
      <input type="file" name="file""><br>
      <input type="password" name="password" placeholder="password(英数字)"><br>
      <input type="password" name="password-confirmation" placeholder="password-confirm"><br>
      <input type="submit" value="SIGN UP"><br>
    </form>

    <a href="/mentor/signin" class="link">すでにアカウントを持っている</a>
  </div>
</div>