<div class="container" id="signin">
  <div class="content sign">
    <h2 class="copy">メンターSIGNIN</h2>
    <h1 class="logo-wrapper"><img src=""></h1>
    <form class="sign-form" action="/mentor/signin" method="post">
      <input type="text" name="name" placeholder="name"><br>
      <input type="password" name="password" placeholder="password"><br>
      <input type="submit" value="SIGN IN"><br>
    </form>
    <a href="/mentor/signup" class="link">新規登録はこちら</a>
  </div>
</div>