<nav>
	<div class="inner-nav">
		<a class="logo" href="/mentor">
			Putinto
		</a>
		<div class="right">
			<a href="/mentor/<%= Mentor.find(session[:mentor]).id %>" class="nav-text"><%= Mentor.find(session[:mentor]).name %></a>
			<a href="/mentor/signout" class="nav-text">Signout</a>
		</div>
	</div>
</nav>
<div class="profile-card">
	<img src="<%= Mentor.find(session[:mentor]).image %>" alt="" class="profile-image">
	<h1 class="profile-name"><%= Mentor.find(session[:mentor]).name %></h1>
	</div>