<div class="container" id="signin">
  <div class="sign-in-box">
    <h1 class="title">メンターSIGNIN</h1>
    <form class="sign-form" action="/mentor/signin" method="post">
      <h2 class="form-title">ユーザー名(英数字)</h2>
      <input type="text" name="name" placeholder="name" class="form"><br>

      <h2 class="form-title">パスワード</h2>
      <input type="password" name="password" placeholder="password" class="form"><br>
      <input type="submit" value="SIGN IN" class="main-button"><br>
    </form>
    <a href="/mentor/signup" class="link">新規登録はこちら</a>
  </div>
</div>